export DUMP_DB_PATH="${HOME}/data/dump"
export DUMP_SIMILARITY_THRESHOLD="0.5"

# These are secrets
export DUMP_SESSION_ENV_KEY="Output of make secrets/hmac"
export DUMP_PASSPHRASE="your-passphrase-here"
export EMBEDER_URL="embedding service url"
export EMBED_API_KEY="your-embed-api-key"
export LITESTREAM_ACCESS_KEY_ID="" # Replace
export LITESTREAM_SECRET_ACCESS_KEY="" # Replace
export LITESTREAM_BUCKET="" # Replace
export LITESTREAM_ENDPOINT="" # Replace

