export DUMP_DB_PATH="${HOME}/data/dump"
export DUMP_SESSION_ENV_KEY="Output of make secrets/hmac"
export DUMP_PASSPHRASE="your-passphrase-here"
export EMBEDER_URL="http://dev-stpotter-dumb-embed.flycast:8080"
export EMBED_API_KEY="your-embed-api-key"
